*, *:before, *:after {
	box-sizing: border-box;
}

.cf:after {
	content: "";
	display: block;
	clear: both;
}

body {
	background-color: #f5f5f5;
	text-align: center;

}

#list-controls {
	display: inline-block;
	margin-bottom: 25px;
	float: right;
}


.no-bullets {
	list-style-type: none;
	display: inline-block;
	border-radius: 0.5em;
}

.no-bullets button {
	border-radius: 0.5em;
	background-color: #ddd;
	border: 0;
	outline: 0;
}

.active {
  	transform: translateZ(0);
  	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  	backface-visibility: hidden;
  	transition-duration: 0.3s;
  	transition-property: transform;
  	transition-timing-function: ease-out;
  	transform: translateY(-8px);
}

.active:active {
	
}

#num-of-items {
	float: left;
	display: block;
}

ul {
	padding: 0;
	margin: 0;
}

#text-box {
	height: 40px;
	width: 40%;
	padding: 5px;
	box-shadow: 2px 2px 10px -2px #5a5a5a;
	border-radius: 0.5em;
	border: none;
	outline: none;
	font-size: 20px;
	margin-bottom: 10px;
}

input[type='checkbox'] {
	-webkit-appearance: none;
	appearance: none;
	background: #272822;
	border-radius: 50%;
	width: 15px;
	height: 15px;
	border-width: 0;
	transition: all .3s linear;
	float: left;
	position: relative;
	top: 20px;
	margin-top: -7.5px;
}

input[type="checkbox"]:checked{
  	background-color: #2ECC71;
}
input[type="checkbox"]:focus{
  	outline: 0;
  	box-shadow: none;
}

#list-items {
	margin: 0 30%;
}

.to-do {
	list-style-type: none;
	text-align: left;
	line-height: 40px;
}

.to-do:after {
	content: '';
	display: block;
	clear: both;
}

.to-do span {
	float: left;
    text-align: center;
    width: 85%;
}

.delete-button {
	padding: 0 5px;
	float: right;
	opacity: 0;
	outline: 0;
	border: none;
	background: none;
	color: #ddd;
	transition: opacity 200ms ease;
}

.delete-button:hover {
	cursor: pointer;
	color: #aaa;
}

.to-do:hover > .delete-button {
	opacity: 1.0;
}

#list-footer {
	margin: 0 30%;
	margin-top: 25px;
}

#list-items li {
	padding: 5px;
}


/***** Font-Families *****/

@font-face {
	font-family: poiret_one;
	src: url(Poiret_One/PoiretOne-Regular.ttf);
}

header {
	font-family: poiret_one;
	font-size: 45px;
	color: #272822;
	font-weight: light;
}

@font-face {
	font-family: lato;
	src: url(Lato/Lato-Light.ttf);
}

@font-face {
	font-family: lato-italic;
	src: url(Lato/Lato-LightItalic.ttf);
}

::-webkit-input-placeholder { /* Chrome */
  font-family: lato-italic;
}

input:focus::-webkit-input-placeholder { 
	color:transparent; 
}



input,
#list-controls,
span, 
small {
	font-family: lato;
	color: #2d2d2f;
}

