*, *:before, *:after {
	box-sizing: border-box;
}

.cf:after {
	content: "";
	display: block;
	clear: both;
}

body {
	background-color: #f5f5f5;
	text-align: center;

}

#list-controls {
	display: inline-block;
	margin-bottom: 25px;
	float: right;
}


.no-bullets {
	list-style-type: none;
	display: inline-block;
	border-radius: 0.5em;
}

.no-bullets button {
	border-radius: 0.5em;
	background-color: #ddd;
	border: none;
	outline: none;
}

#num-of-items {
	float: left;
	display: none;
}

ul {
	padding: 0;
	margin: 0;
}

#text-box {
	height: 40px;
	width: 50%;
	padding: 5px;
	box-shadow: 2px 2px 10px -2px #5a5a5a;
	border-radius: 0.5em;
	border: none;
	outline: none;
}

input[type='checkbox'] {
	-webkit-appearance: none;
	appearance: none;
	background: #272822;
	border-radius: 50%;
	width: 20px;
	height: 20px;
	border-width: 0;
	transition: all .3s linear;
	display: inline-block;
	vertical-align: middle;
	float: left;
	}
input[type="checkbox"]:checked{
  	background-color: #2ECC71;
}
input[type="checkbox"]:focus{
  	outline: 0;
  	box-shadow: none;
}

#list-items {
	margin: 0 25%;
}

.to-do {
	list-style-type: none;
}

.delete-button {
	float: right;
}


#list-footer {
	margin: 0 25%;
	margin-top: 25px;
}

#list-items li {
	padding: 5px 0;
}


/***** Font-Families *****/

@font-face {
	font-family: poiret_one;
	src: url(Poiret_One/PoiretOne-Regular.ttf);
}

header {
	font-family: poiret_one;
	font-size: 45px;
	color: #272822;
	font-weight: light;
}

@font-face {
	font-family: lato;
	src: url(Lato/Lato-Regular.ttf);
}

input,
#list-controls,
span, 
small {
	font-family: lato;
	color: #2d2d2f;
}








